<h1>{{lang.dashboard.title}}</h1>

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-comment-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{lang.dashboard.comments}}</span>
                <span class="info-box-number">648</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-user-plus"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{lang.dashboard.visits}}</span>
                <span class="info-box-number">300</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
</div>
